@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-color: white;
}

.custom-audio-element::-webkit-media-controls-panel {
    background-color: #CCC1DA;
    /* Change control panel background color */
}

.custom-audio-element::-webkit-media-controls-play-button,
.custom-audio-element::-webkit-media-controls-pause-button {
  background-color: white; /* Change play/pause button color */
}

.custom-audio-container {
    /* border: 2px solid #4a5568;*/
    /* background-color: #f7fafc; */
    /* padding: 1rem; */
    /* border-radius: 0.5rem; */
  }
  
  .custom-audio-element {
    /* background-color: #edf2f7; */
    border-radius: 0.25rem;
    /* padding: 0.5rem; */
  }
  
  
  .custom-audio-element::-webkit-media-controls-play-button,
  .custom-audio-element::-webkit-media-controls-pause-button {
    border-radius: 50%; /* Make the buttons circular */
  }
  
  /* Additional styling for play/pause buttons */
  /* .custom-audio-element::-webkit-media-controls-play-button::before,
  .custom-audio-element::-webkit-media-controls-pause-button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
  } */